body {
    background-color: #DDFDFF;
  }

  h1 {
    font-size: 100px;
    margin: 100px 50px;
    /*display: flex;
    justify-content: center;*/
    text-align: center;
  }

  /*h3 {
    margin: 20px 50px 20px 50px;
  }


/* Navigation */

.navbar {
    background-color: #fff;
    overflow: hidden;
    margin: 50px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
.navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background-color: #fff;
  }
/*.navbar a:hover {
    background-color: #28BC83;
    color: black;
  } */

  @media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .about_navButton {
    border-radius: 40px;
    margin: 10px;
  }
  .about_navButton:hover {
    background-color: #28BC83;
    color: black;
  }

  .visit_navButton {
    border-radius: 40px;
    margin: 10px;
  }
  .visit_navButton:hover {
    background-color: #28BC83;
    color: black;
  }

  .boardgames_navButton {
    border-radius: 40px;
    margin: 10px;
  }
  .boardgames_navButton:hover {
    background-color: #28BC83;
    color: black;
  }

  .menu_navButton {
    border-radius: 40px;
    margin: 10px;
  }
  .menu_navButton:hover {
    background-color: #28BC83;
    color: black;
  }

  .reviews_navButton {
    border-radius: 40px;
    margin: 10px;
  }
  .reviews_navButton:hover {
    background-color: #28BC83;
    color: black;
  }

  button.reserve_navButton {
    background-color: #28BC83;
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 40px;
    margin: 10px;
  }

  button.reserve_navButton:hover {
    background-color: black;
    color: white;
  }










  /* Slideshow
  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }






//////////////////////////*VISIT PAGE*/////////////////////////////





  /*CALENDAR*/

  /* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Added background color for the body */
  }
  
  .calendar {
    width: 90%; /* Spanning 90% of the viewport width */
    max-width: 1200px; /* Maximum width for larger screens */
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .month {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .month ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .month ul li {
    font-size: 24px;
    text-transform: uppercase;
  }
  
  .weekdays {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #f0f0f0;
  }
  
  .weekdays li {
    width: calc(100% / 7);
    text-align: center;
    font-size: 18px; /* Adjusted font size for weekdays */
  }
  
  .days {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
}

.days li {
    width: calc(100% / 9);
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.has-event {
    background-color: #ffc107; /* Yellow background for days with events */
}

  .days li.has-event {
    background-color: #ffc107; /* Yellow background for days with events */
    cursor: pointer; /* Change cursor to indicate clickable */
}

  
  .event-popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
  }
  
  .event-popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px; /* Adjusted maximum width for larger event pop-up */
    border-radius: 8px;
    position: relative;
  }
  
  .event-popup-content h2 {
    margin-top: 0;
    font-size: 24px; /* Adjusted font size for event title */
  }
  
  .event-popup-content p {
    margin-bottom: 20px;
    font-size: 16px; /* Adjusted font size for event description */
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .calendar_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #28BC83;
    height: 800px;
    margin: 50px 50px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);
  }


/*RESERVE*/

.reserve_visit_page {
    display: flex;
    flex-direction: row; /* Ensure flex items stack vertically */
    justify-content: flex-end; /* Align flex items to the bottom */
    background-color: #28BC83;
    margin: 50px;
    height: 300px;
    border: 5px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);
}


/*BOTTOM SECTIONS*/

.discord {
    margin: 50px;
    padding: 50px;
    background-color: black;
    color: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);
}

.shop_specials {
    margin: 50px;
    padding: 50px;
    background-color: #FDEF51;
    color: black;
    border: 5px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);
}












//////////////*MENU PAGE*////////////////


/*
.menu_container {
    display: flex; /* Use flexbox */
    flex-wrap: nowrap; /* Prevent items from wrapping */
    flex-direction: rows;
    justify-content: space-between; /* Distribute items evenly with space between them */
    align-items: center; /* Center items vertically */
    width: 100%; /* Full width */
    height: 200px; /* Set a fixed height for demonstration */
    background-color: #f0f0f0;
}

.menu_container_item {
    flex: 1; /* Each item takes equal space */
    padding: 20px; /* Add padding for spacing */
    text-align: center; /* Center text */
    border: 1px solid #ccc; /* Border for visualization */
}
*/



/*TABBED MENU*/



body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  .tabs {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 50px 50px 0px 50px;
  }
  .tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px 20px 0px 0px;
  }
  .tab:hover {
    background-color: #ccc;
  }
  .tab.active {
    background-color: #CE7D40;
    font-weight: bold;
  }
  .content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 0px 50px 50px 50px;
  }

#content-1, #content-2, #content-3, #content-4, #content-5, #content-6, #content-7 {
    border-radius: 0px 0px 30px 30px;
}
